<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t(:name) %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label t(:description) %><br />
    <%= f.text_area :description, :rows => 4 %>
  </div>
  <div class="field">
    <%= f.label t(:content) %>
	  <%= link_to t('.style_guide'), "#", :id => "toggle" %>
	<br />
	<div id="togglebox" class="box">
		<%= render_textile_design_guide %>
	</div>
	<br />
    <%= f.text_area :content, :rows => 30 %>
  </div>

  <div class="box">
    <div class="field">
      <%= f.label t(:category) %>
      <%= f.select :category_id, Category.all.collect{|c| [c.name, c.id] }, :include_blank => true %>
    </div>
    
    <div class="field">
      <%= label_tag :tag %>
      <%= text_field_tag :tag %>
      <%= link_to "Agregar Tag", "#", :id => "add_tag" %>
      <%= tags_hidden_fields(@article) %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('.save_article') %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  var tags = []
  <% ActsAsTaggableOn::Tag.all.each do |tag| %>
    tags.push('<%= tag.name %>')
  <% end %>
  
  $("input#tag").autocomplete({source: tags})
  $('#togglebox').toggle(0);
</script>
