<%= form_for(@article, :html => {:id => "article_form"}) do |f| %>
  <%= render "/layouts/error_messages", :target => @article %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description, :rows => 4 %>
  </div>
  <div class="field">
    <%= f.label :content %>
	  <%= link_to t('.style_guide'), "#", :id => "toggle", :class => "smallbutton" %>
	  
	  <%= link_to_preview(@article) %>
	<br />
	<div id="togglebox" style="display: none;">
		<%= render_textile_design_guide %>
	</div>
	<br />
    <%= f.text_area :content, :rows => 30 %>
  </div>

  <div class="box">
    <div class="field">
      <%= f.label :category %>
      <%= f.select :category_id, Category.all.collect{|c| [c.name, c.id] }, :include_blank => true %>
    </div>

    <% if can_suscribe?(f.object, current_user) %>
      <div class="field">
        <%= f.check_box :author_suscribed %>
        <%= f.label :author_suscribed %>
      </div>
    <% end %>

    <div class="field">
      <%= label_tag :tag %>
      <%= text_field_tag :tag %>
      <%= link_to "Agregar Tag", "#", :id => "add_tag" %>
      <%= tags_hidden_fields(@article) %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t('.save_draft'), :name => "draft" %>
    <%= f.submit t('.save_and_publish'), :name => "publish" %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  var tags = []
  <% ActsAsTaggableOn::Tag.all.each do |tag| %>
    tags.push('<%= tag.name %>')
  <% end %>
  
  $("input#tag").autocomplete({source: tags})
</script>
