
	<h1>Listing articles</h1>
	
	<%= form_tag(articles_path, :method => 'get') do %>
		<%= label_tag "Search Term" %>
		<%= text_field_tag :q %>
		<%= submit_tag 'Search'%>
	<% end %>
	
	<br />
	<table border='1'>
	  <tr>
		<th>User</th>
	    <th>Name</th>
	    <th>Description</th>
	    <th>Category</th>
	    <th></th>
	  </tr>

	<% @articles.each do |article| %>
	  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>" >
		<td><%= article.user.email %></td>
	    <td><%= article.name %></td>
	    <td><%= redcloth(article.description) %></td>
	    <td><%= article.category.name %></td>
			<td><%= link_to 'Show', article %></td>
		
		<% if user_signed_in? %>
	    	<td><%= link_to 'Edit', edit_article_path(article) %></td>
			<td><%= link_to 'Destroy', article, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
	  </tr>
	<% end %>
	</table>

	<br />
	<% if user_signed_in? %>

		<%= link_to 'New Article', new_article_path %>
		<%= link_to 'New Category', new_category_path %>
		

	<% end %>
