<div class="header">
  <h1 class="title"><%= @article.name %></h1>	
  <div class="description">
    <%= redcloth(@article.description) %>
    <div class="tags">
      <ul>
        <% @article.tag_list.each do |tag| %>
          <li><%= tag %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="content">
  <%= redcloth(coderay(@article.content).html_safe) %>
</div>


<% unless params[:lightbox] %>
  <% if can? :modify, @article %>
    <%= link_to t(:edit), edit_article_path(@article) %> |
    <%= link_to t(:destroy), article_path(@article), :method => :delete, :confirm => t(:sure) %>
  <% end %>
<% end %>
