<div class="header">
  <div class="category"><span>Categoria &raquo;</span> <%= @article.category_name %></div>
  <h1 class="title"><%= @article.name %></h1>	
  <div class="description"><%= redcloth(@article.description) %></div>
</div>

<div class="content">
  <%= redcloth(coderay(@article.content).html_safe) %>
</div>

<div class="box tags">
  <h2>Etiquetas:</h2>
  <ul>
    <% @article.tag_list.each do |tag| %>
      <li><%= tag %></li>
    <% end %>
  </ul>
</div>

<% if can? :modify, @article %>
  <%= link_to t(:edit), edit_article_path(@article) %> |
  <%= link_to t(:destroy), article_path(@article), :method => :delete, :confirm => t(:sure) %>
<% end %>
