<div class="header">
  <h1 class="title"><%= @article.name %></h1>
  <span id="created_at">
    Creado el <%= l @article.created_at, :format => :summary %>
  </span>
  <div class="description">
    <%= redcloth(@article.description) %>
    <div class="tags">
      <ul>
        <% @article.tag_list.each do |tag| %>
          <li><%= tag %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="content">
  <%= redcloth(coderay(@article.content).html_safe) %>
</div>

<%= render :partial => 'articles/disqus' %>

<span style="display:none" id="article_id"><%= @article.id %></span>
<% unless params[:lightbox] %>
  <% if can? :modify, @article %>
    <div id="article_actions">
      <%= link_to t(:edit), edit_article_path(@article), :class => "button" %> |
      <%= link_to t(:destroy), article_path(@article), :method => :delete, :confirm => t(:sure), :class => "button" %>
    </div>
  <% end %>
<% end %>
