<p id="notice"><%= notice %></p>

<p>

	
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Description:</b>
  <%= redcloth(@article.description) %>
</p>

<p>
  <b>Content:</b>
  <%= redcloth(@article.content) %>
</p>

<p>
  <b>Category:</b>
  <%= @article.category.name %>
</p>

<p>
  <b>Hit count:</b>
  <%= @article.hit_count %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'View Articles', articles_path %>
