<p id="notice"><%= notice %></p>

<p>

	
  <b><%= t(:name) %>:</b>
  <%= @article.name %>
</p>

<p>
  <b><%= t(:description) %>:</b>
  <%= redcloth(@article.description) %>
</p>

<p>
  <b><%= t(:content) %>:</b>
  <%= redcloth(@article.content) %>
</p>

<p>
  <b><%= t(:name) %>:</b>
  <%= @article.category.name %>
</p>

<p>
  <b><%= t(:hit_count)%>:</b>
  <%= @article.hit_count %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'View Articles', articles_path %>
