<h1>Change Password</h1>


<%= form_for(current_user) do |f| %>

  <p><%= f.label :email %><br />
  <%= f.text_field :email, :readonly => true %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.submit "Change password" %></p>

<% end %>