<h1 class="title home">Innku Wiki</h1>

<p><%= t('.welcome') %> <%= link_to t('.create_article'), new_article_path %>  <%= t(:or)%>  <%= link_to t('.search_article'),articles_path%> <%= t('.welcome2')%>  

<br/><br/>

<h2 class="title home"><%= t('.recent_articles')%></h2>
<%= render @recent_articles %>
