<h1>Innku Wiki</h1>

<p> <%= t('.welcome') %> <%= link_to t('.create_article'), new_article_path %>  <%= t(:or)%>  <%= link_to t('.search_article'),articles_path%> <%= t('.welcome2')%>  

<br />

<p style="font-size:2em;"><b><%= t('.featured_article')%> </b></p>


<%= render :partial => @article %>


