<h1><%= t('.categories')%></h1>

<table>
  <tr>
    <th><%= t(:name)%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    	
  	<% if user_signed_in? %>
  		<td><%= link_to t(:edit), edit_category_path(category) %></td>
  		<td><%= link_to t(:destroy), category, :confirm => 'Are you sure?', :method => :delete %></td>
  	<% end %>  
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new_category'), new_category_path %>
<%= link_to t('.view_articles'), articles_path %>

