<div id="search">
  <%= form_tag(articles_path, :method => 'get') do %>
    <%= text_field_tag :q, nil %>
    <%= submit_tag "", :class => "search" %>
  <% end %>
</div>
<div class="clear"></div>

<div id="menu">
  <% published_categories.each do |category| %>
    <h1><%= link_to category.name , "#" %></h1>

    <%# --- Be warned!! I used javascript to hide this categories.. --- %>

    <ul>
      <% get_and_sort_articles(category).each do |article| %>
        <li><%= active_tab article.name, article_path(article) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
