<div id="search">
  <%= form_tag(articles_path, :method => 'get') do %>
    <%= text_field_tag :q, nil %>
    <%= submit_tag "Buscar" %>
  <% end %>
</div>

<div id="menu">
  <% @categories.each do |category| %>
    <h1><%= category.name %></h1>
    <ul>
      <% category.published.each do |article| %>
        <li><%= link_to article.name, article %></li>
      <% end %>
    </ul>
  <% end %>
</div>
