<div id="search">
  <%= form_tag(articles_path, :method => 'get') do %>
		<%= text_field_tag :q, nil %>
	<% end %>
</div>

<% if current_user %>
  <div>
    <%= link_to t('.new_article'), new_article_path, :class => "button" %>
  </div>
<% end %>

<div id="menu">
	<% @categories.each do |category| %>
	  <h1><%= category.name %></h1>
	  <ul>
	    <% category.published.each do |article| %>
	      <li><%= link_to article.name, article %></li>
	    <% end %>
	  </ul>
	<% end %>
</div>

<% if can? :manage, Category %>
  <%= link_to t(:categories_link), categories_path, :class => "button" %>
<% end %>
  
    