<!DOCTYPE html>
<html>
<head>
  <title>Wiki</title>
  <%= stylesheet_link_tag 'application', 'scaffold', 'jquery.ui.all' %>
  <%= javascript_include_tag 'jquery', 'jquery-ui','application', 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<div id="banner">
			Banner
			<div id="usernav">
				<% if user_signed_in? %>
					<%= current_user.email %>, <%= t('.not_you')%> <%= link_to 'Log out', destroy_user_session_path%> <%= t(:or) %> <%= link_to t('.create_user'), new_user_path%>
				<% else %>
					<%= t('.guest')%> <%= link_to 'Sign in', new_user_session_path %> 
				<% end %>

			</div>
	</div>
	<div id="sideMenu">
		<br />
		<%= form_tag(articles_path, :method => 'get') do %>
			<%= label_tag t('.search_article') %><br />
			<%= text_field_tag :q %>
			<%= submit_tag t('.search')%>
		<% end %>
		<br />
		<br />
		<%= render_side_menu %>
	</div>
	<div id="container">
		
	
		<%= yield %>
	</div>
</body>
</html>
