<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <meta name="google-site-verification" content="g23NnEJRw-USebKOPMhESQJcDmQhIsTXcnBKtkjJu0U" />
    <title>Wiki Innku</title>
    <%= stylesheet_link_tag 'application', 'jquery.ui.all', 'coderay', 'jquery.fancybox' %>
    <%= javascript_include_tag 'jquery', 'jquery-ui','application', 'rails', 'jquery.fancybox' %>
    <%= csrf_meta_tag %>
    <%= render "/layouts/google_analytics" %>
  </head>
  <body>
    <div id="doc3" class="yui-t3">
      <div id="hd"><!--hd-->
        <%= link_to image_tag("INNKU.png"), root_path %>
        
        <div id="login">
          <% if user_signed_in? %>
            <p><%= current_user.email %>, 
            <%= link_to t('.profile'), profile_path %> |
              <%= (link_to(t('.create_user'), new_user_path) + " |") if current_user.admin? %> 
              <%= (link_to(t('.new_article'), new_article_path) + " |")  %>
              <%= (link_to(t(:categories_link), categories_path) + " |") if can? :manage, Category %>
              <%= link_to t('.log_out'), destroy_user_session_path %></p>
          <% else %>
            <div><%= t('.guest')%> <%= link_to t('.sign_in'), new_user_session_path %></div>
          <% end %>
        </div>
      </div><!--/hd-->

      <div id="bd">
        <div id="yui-main"> 
          <div class="yui-b"><!--yui-b main column-->

            <% flash.each do |name, message| %>
              <div id="<%= name %>" class="flash"><%= message %></div>
            <% end %>

            <%= yield %>
          </div><!--/yui-b main column-->
        </div>

        <div id="yui-s" class="yui-b"><!--yui-b secondary column-->
          <%= render :partial => "/layouts/sidemenu"  %>
        </div><!--/yui-b secondary column-->

      </div>
      <div id="ft">
        <!-- PUT FOOTER CODE HERE -->
      </div>
    </div>
    <%= render "/layouts/uservoice" %>
  </body>
</html>
